extends layout

block content
	div
		h1= hate.hateTitle
		h2="Hated " + hate.hateRate + " times"
		p= hate.hateBody
	form(name="uphate",method="post",action="/hate/uphate")
		input(type="hidden", name="_id", value=hate._id)
		button(type="submit") I hate this shit
	div
		h2="What other haters think: "
		each comment, i in hate.hateComments
			div
				p= comment.name
				p= comment.body
	form(name="comment", method="post",action="/hate/addcomment")
		input(type="hidden", name="_id", value=hate._id)
		span Name:
		br
		input(type="text", name="commentname")
		br
		span Comment:
		br
		textarea(rows=5, name="commentbody")
		br
		button(type="submit") Comment on this bitch!